PORT=3000
NODE_ENV=development

DATABASE_URL="mysql://bolsa_user:CAMBIA_ESTA_PASSWORD@localhost:3307/bolsa_trabajo"

JWT_SECRET=CAMBIA_ESTE_SECRETO_POR_UNO_DE_64_CARACTERES
JWT_EXPIRES_IN=24h

CORS_ORIGIN=http://localhost:3001

SEED_ADMIN_PASSWORD=CAMBIA_ESTA_PASSWORD
SEED_DEMO_PASSWORD=CAMBIA_ESTA_PASSWORD
SEED_DEMO_DATA=true
